* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --gray1: #333333;
    --gray2: #555555;
    --gray3: #cccccc;
    --gray4: #aaaaaa;
  
    --dominant1: #344B59; 
    --dominant2: #7ABEA7; 
    --accent1: #CDE5D8;
    --accent2: #AED4D5;
    --accent3: #E4E5E9;
    --accent4: #D96846; 
}

/* Navbar styling */
.navbar {
    box-shadow: 0 -1px var(--accent1), 0 0px 6px var(--gray4);
}

.logo-box {
    margin: 0;
    padding: 0;
}

.logo {
    list-style: none;
    background-color: var(--accent2);
    color: var(--dominant1);
    font-size: 18px;
    font-weight: 800;
    padding: 20px 10px 20px 10px;
    border-radius: 50%;
    border: 2px solid var(--dominant1);
}

.navbar-light .navbar-toggler {
    border-color: var(--dominant1) !important;
    color: var(--dominant1) !important;
}

.navbar-light .nav-item .nav-link {
    font-weight: 600;
    font-size: 18px;
    color: var(--dominant1) !important;
}

.navbar-light .nav-item:active .nav-link {
    font-weight: 800;
    color: var(--dominant1);
    border-bottom: 1px solid var(--accent2);
}

.navbar-light .nav-item:hover .nav-link {
    background-color: var(--accent2);
    color: var(--dominant1);
}

/* about me */
.name {
    border-bottom: 2px solid var(--accent4) ;
    color: var(--dominant1);
    cursor: pointer;
}

.main-intro h1 {
    color: var(--accent4);
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
.main-intro h2 {
    color: var(--dominant1);
    font-weight: 600;
}

.main-intro p {
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    cursor: pointer;
}

.socials {
    margin: 0;
    padding: 0;
}

.social-item {
    display: inline;
    list-style: none;  
    padding-right: 0.5em; 
    font-size: 1em;
}

.social-logo #icon svg{
    width: 100px !important;
    height: 100px !important;
}

.developer-image {
    max-width: 100%;
    height: auto;
}

.hand-wave {
    font-size: 30px;
}

.section-header {
    text-align: center;
    color: var(--dominant1);
    font-weight: 800;
}

.section-header::first-letter {
    font-size: 150%;
}

.heading {
    border-bottom: 2px solid var(--accent4);
}

/* experience component */
.exp-card-header {
    background-color: var(--accent2) !important;
}

.exp-desc {
    text-align: justify;
}

.exp-card-link {
    text-decoration: none;
    color: var(--dominant1);
    font-weight: 600;
    font-size: 18px;
}

.exp-card-link:hover {
    color: var(--dominant1);
}

/* projects component */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.project-card {
    width: calc(33.33% - 10px);
}

.project-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-card .card-body .project-desc {
    flex-grow: 1;
    font-size: 16px;
}

.github-project {
    font-size: 14px;
    margin-bottom: 2rem;
    text-decoration: none;
    color: var(--dominant1);
    font-weight: 600;
}

.github-project:hover {
    color: var(--accent4);
}

/* contact form */
.form {
    max-width: 600px;
}
.form-buttons button {
    width: 100%;
    height: 50px;
    font-weight: 600;
}
.submit-button {
    background-color: var(--accent2);
    color: var(--dominant1);
}

.submit-button:hover{
    background-color: var(--dominant1);
    color: var(--accent1);
}

.reset-button {
    background-color: var(--accent3);
    color: var(--dominant1);
}

.reset-button:hover {
    background-color: var(--dominant1);
    color: var(--accent1)
}

.footer {
    background-color: var(--accent2);
    color: var(--dominant1);
    font-weight: 600;
}

/* media queries for mobile and tablets */
@media (min-width: 576px) and (max-width: 768px){
    .project-card {
      width: calc(50% - 10px);
    }
  }
  
@media (max-width: 575px) {
    .project-card {
      width: calc(100%);
    }
}